{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<style>
.ui-helper-hidden-accessible { border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}
.ui-autocomplete .highlight {
	text-decoration: underline;
	color: orange;
}
.fixed-height {
	padding: 1px;
	max-height: 200px;
	overflow: auto;
}
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
.ui-autocomplete .highlight {
	text-decoration: underline;
	color: orange;
}
href{
  color: red;
}
</style>


<div class="container">
	Example 1 <br> Autocomplete Demo: <input name="autocomplete" type="text" id="autocomplete" placeholder="Select a resource or enter your own, e.g. Wormbase"></input>
</div>
<br><br><br><br>
<div class="container">
	Example 2 <br> Category Autocomplete Demo: <label for="search"></label>
	<input id="search" name="search" placeholder="Select a resource or enter your own, e.g. Wormbase"></input>
</div>
<br><br><br><br>
<div class="container">
  Example 3 <br> Autocomplete Demo with Sending data to Autocomplete: <label for="search-post-data"></label>
  <input id="search-post-data" name="search-post-data" placeholder="Select a resource or enter your own, e.g. Wormbase"></input>
</div>
<br><br><br><br>
<div class="container" id="the-basics">
  Example 4 - Autocomplete using TypeaheadJS - The Basics <br>
  <input class="typeahead" type="text" placeholder="States of USA">
</div>
<br><br><br><br>


<div class="container">
   Example 4a - Autocomplete using TypeaheadJS - Using Bloodhound <br>
  <div id="bloodhound">
    <!-- <label for="tags">Resources</label> -->
    <input class="typehead-input" type="text" data-role="materialtags" placeholder="Select Resource">
  </div>
</div>


<br><br><br><br>
<div class="container" id="example5">
  Example 5 - Autocomplete using Bloodhound - Display Tags
  <input type="text" value="Amsterdam,Paris" class="typeahead" data-role="materialtags"/>
</div>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


<!-- Example 5 -->
<script>
$(function() {
  var cities = new Bloodhound({
      // datumTokenizer: function(datum) {
      //   return Bloodhound.tokenizers.whitespace(datum.label)
      // },
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
        url: '{{ url_for("bloohdhoundRemote") }}',
        'cache': false,
        filter: function(response) {
          console.log("City Names:", response.citynames)
          return $.map(response.citynames, function(cityname) {
            return { name: cityname };
          });
        }
      }
  });

  cities.initialize();

  $('#example5 input').materialtags({
    typeaheadjs: {
      name: 'cities',
      displayKey: 'name',
      valueKey: 'name',
      source: cities
    }
  });
});
</script>


<!-- Example 4 -->
<script>
var resources = new Bloodhound({
  datumTokenizer: function(datum) {
    return Bloodhound.tokenizers.whitespace(datum.label)
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  //prefetch: 'http://twitter.github.io/typeahead.js/data/films/post_1960.json',
  prefetch: {
    url: '{{ url_for("bloohdhoundRemote") }}',
    'cache': false,
    filter: function(response) {
      console.log("Data: ", response.resource_list)
      return response.resource_list;
    }
  }
});

  // datumTokenizer: Bloodhound.tokenizers.whitespace,
  // queryTokenizer: Bloodhound.tokenizers.whitespace,
  // `states` is an array of state names defined in "The Basics"
  // local: ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  // 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  // 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  // 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  // 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  // 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  // 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  // 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  // 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
  // ]
  //prefetch: 'https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json'


// bestPictures.add([{
//     "year": "1964",
//     "value": "My awesome life!",
//     "tokens": [
//       "My",
//       "Awesome",
//       "Life"]
//     }]);

resources.add([{"value": "MIR:00000777", "label": "My Added Resource"}]);

resources.initialize();

// $('#bloodhound .typeahead').typeahead({
//   hint: true,
//   highlight: true,
//   minLength: 1
// },
// {
//   name: 'resources',
//   display: function(response) {
//     return response.label;
//   },
//   source: resources.ttAdapter()
// });

//$('#bloodhound .typeahead').typeahead({
$('#bloodhound .typehead-input').materialtags({
  maxTags: 3,
  onTagExists: function(item, $tag) {
        $tag.hide().fadeIn();
    },
    // hint: true,
    // highlight: true,
    // minLength: 1,
  typeaheadjs: {
    name: 'resources',
    displayKey: 'label',
    valueKey: 'value',
    source: resources.ttAdapter()
  }, 
  // freeInput: true
});

//Use TypeaheadJS for Autocomplete
// var substringMatcher = function(strs) {
//   return function findMatches(q, cb) {
//     var matches, substringRegex;

//     // an array that will be populated with substring matches
//     matches = [];

//     // regex used to determine if a string contains the substring `q`
//     substrRegex = new RegExp(q, 'i');

//     // iterate through the pool of strings and for any string that
//     // contains the substring `q`, add it to the `matches` array
//     $.each(strs, function(i, str) {
//       if (substrRegex.test(str)) {
//         matches.push(str);
//       }
//     });

//     cb(matches);
//   };
// };

// var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
//   'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
//   'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
//   'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
//   'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
//   'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
//   'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
//   'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
//   'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
// ];

// $('#the-basics .typeahead').typeahead({
//   hint: true,
//   highlight: true,
//   minLength: 1
// },
// {
//   name: 'states',
//   source: substringMatcher(states)
// });
</script>


<!-- Example 3 -->
<script type="text/javascript">
// Send data to autocomplete to dynamically extend data source
$(function() {
  var keypath = "My Test Keypath"
  console.log(keypath)

  $.ajax({
        url: '{{ url_for("datcomplete") }}',
        contentType: 'application/json',
        method: "POST",
        dataType : 'json',
        data: JSON.stringify({variable:keypath})
    }).done(function (data) {
        $('#search-post-data').autocomplete({
            source: data.matching_results,
            minLength: 1
        }).data("ui-autocomplete")._renderItem = function(ul, item) {
          var $a = $("<a></a>").text(item.label);
          //highlightText(this.term, $a);
          return $("<li></li>").append($a).appendTo(ul);
        };
    });
});
</script>


<!-- Example 1 -->
<script type="text/javascript">
// From: http://stackoverflow.com/questions/17365821/using-jquery-autocomplete-with-flask
// Highlight matched text: http://salman-w.blogspot.com/2013/12/jquery-ui-autocomplete-examples.html#example-4 
$(function() {
	function highlightText(text, $node) {
				var searchText = $.trim(text).toLowerCase(), currentNode = $node.get(0).firstChild, matchIndex, newTextNode, newSpanNode;
				while ((matchIndex = currentNode.data.toLowerCase().indexOf(searchText)) >= 0) {
					newTextNode = currentNode.splitText(matchIndex);
					currentNode = newTextNode.splitText(searchText.length);
					newSpanNode = document.createElement("span");
					newSpanNode.className = "highlight";
					currentNode.parentNode.insertBefore(newSpanNode, currentNode);
					newSpanNode.appendChild(newTextNode);
				}
			}
    $.ajax({
        url: '{{ url_for("autocomplete") }}'
        }).done(function (data) {
            $('#autocomplete').autocomplete({
            	//source: data.json_list,
				      source: data.matching_results,			 
            	minLength: 2
            }).data("ui-autocomplete")._renderItem = function(ul, item) {
				var $a = $("<a></a>").text(item.label);
				highlightText(this.term, $a);
				return $("<li></li>").append($a).appendTo(ul);
			};
    });
});
</script>


<!-- Example 2 -->
<script>
// Category autocomplete widget with matching text highlighting
// https://jqueryui.com/autocomplete/#categories
  $.widget( "custom.catcomplete", $.ui.autocomplete, {
    _create: function() {
      this._super();
      this.widget().menu( "option", "items", "> :not(.ui-autocomplete-category)" );
    },
    _renderMenu: function( ul, items ) {
      var that = this,
        currentCategory = "";
      $.each( items, function( index, item ) {
        var li;
        if ( item.category != currentCategory ) {
          ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
          currentCategory = item.category;
        }
        li = that._renderItemData( ul, item );
        if ( item.category ) {
          li.attr( "aria-label", item.category + " : " + item.label );
        }
      });
    }
  });

  $(function() {
  	function highlightText(text, $node) {
				var searchText = $.trim(text).toLowerCase(), currentNode = $node.get(0).firstChild, matchIndex, newTextNode, newSpanNode;
				while ((matchIndex = currentNode.data.toLowerCase().indexOf(searchText)) >= 0) {
					newTextNode = currentNode.splitText(matchIndex);
					currentNode = newTextNode.splitText(searchText.length);
					newSpanNode = document.createElement("span");
					newSpanNode.className = "highlight";
					currentNode.parentNode.insertBefore(newSpanNode, currentNode);
					newSpanNode.appendChild(newTextNode);
				}
			}
    $.ajax({
        url: '{{ url_for("catcomplete") }}'
        }).done(function (data) {
    $( "#search" ).catcomplete({
     	delay: 0,
    	source: data.category_data
    }).data("custom-catcomplete")._renderItem = function(ul, item) {
    	var $a = $("<a></a>").text(item.label);
		highlightText(this.term, $a);
		//console.log(this.term)
		return $("<li></li>").append($a).appendTo(ul);
		};
	});
  });
</script>

{% endblock %}